button {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.landing-section {
  background-image: url("./assets/images/landing.webp");
  background-size: cover;
  background-position: bottom right;
}

.navlink {
  font-family: "Marhey", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1.2rem;
  /* color: #000000; */
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    display: block;
    width: 0px;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  &:hover::after {
    width: 100%;
  }
}

@keyframes scaleInOut {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.scale-in-out {
  animation: scaleInOut 0.7s ease-in-out forwards;
}

/* ----------------------- */
.search-icon-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.search-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.search-icon.active {
  opacity: 1;
  transform: translateY(0%);
}

/* ------------------------------ */

.slick-slide.slick-active .inner-slider-container,
.slick-slide.slick-cloned .inner-slider-container {
  background: var(--color-light-gray);
  padding: 5rem 1rem 3rem 1rem;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  /* overflow: hidden; */
  transition: all 0.5s ease-in-out !important;
  transform: scale(0.9);
  cursor: pointer;
}

.slick-slide.slick-active.slick-center.slick-current .inner-slider-container,
.slick-slide.slick-center.slick-cloned .inner-slider-container {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out !important;
  background: var(--color-light-yellow);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
  /* background-color: #000000; */
}

.category-slider-container {
}

@keyframes typing-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
.welcome-header {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing-animation 2s steps(19) forwards;
}
/* .welcome-header::after {
  content: "|";
  animation: blink 0.7s infinite;
} */

.welcome-message-line1 {
  display: inline-block;
  /* background-color: #00000086; */
  /* padding: 0 0.5rem; */
  border-radius: 10px;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: typing-animation 3s 2s steps(74) forwards;
}

.welcome-message-line2 {
  display: inline-block;
  /* background-color: #00000086; */
  /* padding: 0 0.5rem; */
  border-radius: 10px;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: typing-animation 3s 5s steps(73) forwards;
}

.welcome-message-line3 {
  display: inline-block;
  /* background-color: #00000086; */
  /* padding: 0 0.5rem; */
  border-radius: 10px;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  max-width: max-content;
  animation: typing-animation 3s 8s steps(46) forwards;
}

/* ------------------------------ */

@media(min-width: 1020px) {
  .inner-slider-container.category {
    margin: 0 1rem;
    scale: 0.8;
  }
}
@media(max-width: 900px) {
  .inner-slider-container.category {
    margin: 0 0rem;
  }
}
@media(max-width: 750px) {
  .inner-slider-container.category {
    margin: 0 0rem;
  }
}
@media(max-width: 600px) {
  .inner-slider-container.category {
    margin: 0 5rem;
    max-height: 250px;
    padding: 60px !important;
  }
}
@media(max-width: 575px) {
  .inner-slider-container.category{
    /* padding: 0 !important; */
    padding: 40px !important;
    
    
  }
  .inner-slider-container.category .slide-content{
    /* scale: 0.5; */
    margin: 0 !important;
    
  }
}
@media(max-width: 550px) {
  .inner-slider-container.category {
  /* scale: 0.8; */
  
  }
}
@media (max-width: 450px) {
  .inner-slider-container.category {
    margin: 0 0.5rem;
  }
}
@media (max-width: 350px) {
  .inner-slider-container.category {
    padding: 20px 20px !important;
  }
}

.wheel {
  transition: transform 4s cubic-bezier(0.17, 0.67, 0.12, 0.99);
  transform-origin: center;
}