button {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.landing-section {
  background-image: url("./assets/images/landing.webp");
  background-size: cover;
  background-position: bottom right;
}

.navlink {
  font-family: "Marhey", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1.2rem;
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    display: block;
    width: 0px;
    height: 2px;
    background-color: #000000;
    transition: all 0.3s ease-in-out;
  }
  &:hover::after {
    width: 100%;
  }
}

@keyframes scaleInOut {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.scale-in-out {
  animation: scaleInOut 0.7s ease-in-out forwards;
}