button {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.landing-section {
  background-image: url("./assets/images/landing.webp");
  background-size: cover;
  background-position: bottom right;
}

.navlink {
  font-family: "Marhey", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1.2rem;
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    display: block;
    width: 0px;
    height: 2px;
    background-color: #000000;
    transition: all 0.3s ease-in-out;
  }
  &:hover::after {
    width: 100%;
  }
}

@keyframes scaleInOut {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.scale-in-out {
  animation: scaleInOut 0.7s ease-in-out forwards;
}

/* ----------------------- */
.search-icon-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.search-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.search-icon.active {
  opacity: 1;
  transform: translateY(0%);
}

/* ------------------------------ */

.slick-slide.slick-active .inner-slider-container,
.slick-slide.slick-cloned .inner-slider-container {
  background: var(--color-light-gray);
  padding: 5rem 1rem 3rem 1rem;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  /* overflow: hidden; */
  transition: all 0.5s ease-in-out !important;
  transition: border-radius 0.0s ease-in-out !important;
  transform: scale(0.9);
  cursor: pointer;
}

.slick-slide.slick-active.slick-center.slick-current .inner-slider-container,
.slick-slide.slick-center.slick-cloned .inner-slider-container {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out !important;
  transition: border-radius 0.0s ease-in-out !important;
  background: var(--color-light-yellow);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
  /* background-color: #000000; */
}

.category-slider-container {
}
