@import "tailwindcss";
@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.5s ease forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}

:root {
  direction: rtl;
  --color-primary: #03a18e;
  --color-light-bg: #f5ecd5;
  --color-white: #ffffff;
  --color-light-gray: #f1efec;
  --color-medium-gray: #d4c9be;
  --color-light-yellow: #fff3d4;
  --color-black: #030303;
  --color-accent: #b31312;
}

.ar-font-m {
  font-family: "Marhey", sans-serif;
  font-optical-sizing: auto;
}
.ar-font-s,
.title {
  font-family: "Marhey", sans-serif;
  font-optical-sizing: auto;
  /* font-size: 2.5rem; */
}
.ar-font-s,
.logo {
  font-family: "Lalezar", system-ui;
  font-optical-sizing: auto;
}

input {
  /* font-family: "Marhey", sans-serif; */
  outline: none;
  & ::placeholder {
    /* font-family: "Marhey", sans-serif; */
  }
  &:focus {
    background: #ffffff;
  }
}

.slide-item {
  direction: rtl;
}

.show-more-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--color-accent);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
.show-more-box a span {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -40%);
  transition: all 0.3s ease-in-out;
}

.show-more-box a:hover {
  color: var(--color-primary);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.show-more-box a:hover span {
  left: -50%;
  transition: all 0.3s ease-in-out;
}

.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  -moz-appearance: textfield;
}

.toast-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.close-button {
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  color: #888;
}
/* ------------------------------------ */
.scrolling {
  scrollbar-width: thin;
  scrollbar-color: #00bfa5 #fcfcfce3;
}

.scrolling::-webkit-scrollbar {
  width: 8px;
}
.scrolling::-webkit-scrollbar-track {
  background: #00bfa5;
  border-radius: 10px;
}

.scrolling::-webkit-scrollbar-thumb {
  background-color: #00bfa5;
  border-radius: 10px;
  border: 2px solid #00bfa5;
}

.scrolling::-webkit-scrollbar-thumb:hover {
  background-color: #009688;
}

/* #google-login-id {
  background: #000 !important;
  border: none !important;
} */
.nsm7Bb-HzV7m-LgbsSe.hJDwNd-SxQuSe.i5vt6e-Ia7Qfc.uaxL4e-RbRzK {
  width: 100% !important;
}
.nsm7Bb-HzV7m-LgbsSe-BPrWId {
  color: #0000 !important;
  position: relative;
}
.nsm7Bb-HzV7m-LgbsSe-BPrWId::after {
  content: "تسجيل الدخول باستخدام جوجل";
  font-size: 1.01rem;
  font-weight: 500;
  position: absolute;
  color: #000000 !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
